/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/.htaccess
/public/css/*.css
/public/css/*.css.map
/public/fonts/
*.apache.conf
composer.lock
.gulp.log
.scsses
.scsses.new

