$def-bg: white;
$def-fg: black;

$md-code-fg: #000;        // pre/codeの文字色
$md-code-bg: #FFF5EE;     // pre/codeの背景色
$md-code-border: solid 1pt #eecc99;     // preのボーダー

$md-dl-border: dashed 1pt #666;     // dlのボーダー
