@import "variables";

*{
    font-size: $font-size-base;
    font-family: "M+ 1p light", "ＭＳ Pゴシック", "メイリオ";
    margin:0;
    padding:0;
    line-height: $line-height-base;
}

.container{
    margin:0;
    padding:0;
}
@import "reset";
@import "notes";
@import "adgenda";
@import "contents";
@import "allow-icon";
