@import "variables";

*{
    font-size: $font-size-base;
    font-family: "メイリオ","ＭＳ Pゴシック";
    margin:0;
    padding:0;
    line-height: $line-height-base;
}

@import "reset";
ul li,ol li {
  padding-left: 1em;
  text-indent: -1em;
  list-style-position: inside;
}

.markdown {
    
    h1, h2, h3, h4, h5, h6 {
        margin: $margin-base 0;
    }
    p {
        margin: $margin-thin 0;
    }
    h1{
        font-size: $font-size-h1;
        border: solid 1pt $section-border-color;
    }
    h2{
        font-size: $font-size-h2;
        border: solid 1pt $section-border-color;
        border-width: 0 0 1pt 0;
    }
    h3{
        font-size: $font-size-h3;
        text-decoration:underline;
    }
    h4{
        font-size: $font-size-h4;
    }
    h5{
        font-size: $font-size-h5;
        text-decoration:underline;
    }
    h6{
        font-size: $font-size-h6;
    }
}

$container-width: 20cm;
$side-container-width: 250px;
$right-side-width: $side-container-width - $margin-base * 4;
$main-width: $container-width - $margin-base * 4;
$contents-width: $container-width + $side-container-width;

@media screen {
    .contents {
        width: $contents-width;
        padding: 0;
        margin: 0 auto;
        border: dashed 1pt red;
        border-width: 1pt;
    }
    .markdown {
        border: dashed 1pt blue;
        border-width: 1pt;
        margin: 0;
        padding: 0 0 0 $margin-base*4;
        width: $main-width;
        h1 {
            margin-left: -$margin-base * 4;
            padding-left: $margin-thin;
        }
        h2 {
            margin-left: -$margin-base * 4;
            padding-left: $margin-thin;
        }
        h3, h4 {
            margin-left: -$margin-base * 2;
            padding-left: $margin-thin;
        }
    }

    .right-side {
        float: right;
    }
    .adgenda{
        width: $right-side-width;
        margin: $margin-base;
        padding: $margin-base;
        border: dashed 1pt green;
        border-width: 1pt;
    }
}

@media print {
    .markdown {
        margin: 0;
        padding: 0 0 0 $margin-base;
        h1, h2, h3, h4, h5, h6 {
            margin-left: -$margin-base;
            padding-left: $margin-thin;
        }
    }
    .contents {
        border: dashed 1pt red;
        width: 100;
        border-width: 1pt;
    }
    .right-side{
        display: none;
    }
}
