@import "variables";

*{
    font-size: $font-size-base;
    font-family: "メイリオ","ＭＳ Pゴシック";
    margin:0;
    padding:0;
    line-height: $line-height-base;
}

@import "reset";
@import "notes";
@import "adgenda";
@import "contents";
@import "allow-icon";
